/*Xiketic       #1B1725
  Gold Crayola  #F0C790
  Medium Purple #8A84E2 
  Red Crayola   #FD024F*/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap');



.nav_list div{
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    box-shadow:  0px 4px 2px -2px rgba(170, 170, 170, 0.356);
  }
  .nav_listitem{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #003452;
    list-style: none;
    position: relative;
    padding: 1.5rem 1rem;
    margin-right: 2rem;
    cursor: pointer;
    
    
  }

  .a{
    color: #003452;
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    padding: 1.5rem 1rem;
    margin-right: 2rem;
    cursor: pointer;
    
    
  }
  
  .nav_item2{
    color: #1B1725;
    list-style: none;
    font-weight: lighter;
    font-size: 0.75rem;
    position: relative;
    padding: 0rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
   
  
  }
  
  .nav_item{
    color: #1B1725;
    list-style: none;
    position: relative;
    padding: 0rem 0.5rem;
    margin-right: 2rem;
    cursor: pointer;
    
  }
  .nav_listitemdrop{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px rgba(170, 170, 170, 0.356);
    background-color: white;
    border-radius: 0.2rem;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition:opacity 200ms ease-in-out;
  }

  .hDrop{
    color: #1B1725;
  }
  .nav_listitem:hover{
    color: #FD024F;
  }
  .nav_listitem li{
    
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
  }
  .nav_list li:hover{
    color: #FD024F;
  }
  li:hover .nav_listitemdrop{
    opacity: 1;
    visibility: visible;
  }
  .nav_listitem::after{
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: #FD024F;
    transition:width 200ms ease-in;
  }
  .nav_listitem:hover::after, .nav_listitem:focus::after{
    width: 80%;
  }
  
  .nav_listlogo{
    margin-right: auto;
    padding-left: 5%;
    margin-top: -1.25%;
    margin-bottom: 2.5%;
   
  }
  
  /*Zoek icon */
  .gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 1.5px;
    height: 75px;
    background: currentColor;
    margin-top: -40px;
  }


  /*Knop inloggen */
.btn-inloggen{
  font-weight: bold;
  font-size: 2.5rem;
  background: white;
  color: #FD024F;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.btn-inloggen:hover{
  color: #1B1725;
  
}