/* Provide sufficient contrast against white background */
.style2 {
  font-family: 'Arimo';
  font-style: normal;
  color: #FD024F;
  font-size: 5rem;
 
}
a {
  font-family: 'Arimo';
  font-style: normal;
  color: white;
  font-size: 2rem;
  text-align: center;
}

b {
 
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 100;
  font-size: 1.5rem;
}

.style3 {
  font-family: 'Arimo';
  font-style: normal;
  font-size: 2rem;
  

}
.style4 {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 1rem;
  font-weight: 100;

}

u {
  font-family: 'Arimo';
  font-style: normal;
  font-size: 2rem;

}

.Card {
  background-color: #000000;
}
code {
  color: #E01A76;
}

.btn-primary {
  color: rgb(0, 0, 0);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.vTitel{
  font-family: 'Arimo';
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}

.main-form{
  font-family: 'Roboto';
  font-style: bold;
  font-size: 1.5rem;
  color: white;
}

body{
  background-color: #000000;
  color: white;
}


.reserveerd {
  background-color: #5e5e5e !important;
  pointer-events: none;
}
.gekozen{
  background-image: linear-gradient(45deg, #FD024F, #FD024F, #Ffff) !important;
  transition: '0.3s'!important;
  color: white !important;
  cursor: pointer;
}
.vrij {
  background-image: linear-gradient(45deg, #Ffff, #Ffff, #FD024F) !important;
  transition: '0.3s'!important;
  cursor: pointer;
}




